# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# SQLite
*.db
*.sqlite3

# VS Code
.vscode/

# JetBrains
.idea/

# macOS
.DS_Store

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# Build
dist/
build/

# Node
node_modules/

